html {
    font-size: 87.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
}

img {
    max-width: 100%;
}

.error {
    display: inline-block;
    color: #f44336;
    margin-bottom: 8px;
}

.page-title-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-header .panel.wrapper {
    display: flex;
    justify-content: space-between;
}

.page-header .page-title-wrapper {
    padding: 8px;
    margin: 0;
}

.page-header .page-title-wrapper .page-title {
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

@media all and (max-width: 479px) {
    .page-header .panel.wrapper {
        flex-wrap: wrap;
    }

    .page-header .page-title-wrapper {
        order: 1;
        width: 100%;
    }
}

.copyright {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 8px;
}

.sidebar .ps-sidebar-root {
    min-width: unset;
    height: 100%;
    border-right: unset;
}

@media all and (min-width: 768px) {
    .sidebar .ps-sidebar-root {
        width: 25vw;
    }
}

@media all and (min-width: 1200px) {
    .sidebar .ps-sidebar-root {
        width: 16.66666667vw;
    }
}

.sidebar .ps-sidebar-container,
.sidebar .ps-submenu-content {
    background-color: unset;
}

.sidebar .ps-menu-button.ps-active {
    color: #6870fa;
}

.sidebar .ps-menuitem-root > .ps-menu-button:hover {
    background-color: unset;
    color: #6870fa;
}

.sidebar .ps-menu-button.ps-open {
    color: #6870fa;
}

@keyframes swing {
    10%  { transform: rotate(10deg); }
    40%  { transform: rotate(-10deg); }
    60%  { transform: rotate(5deg); }
    80%  { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.sidebar .ps-menu-button:hover .ps-menu-icon {
    -webkit-animation: swing ease-in-out 0.5s 1 alternate;
    animation: swing ease-in-out 0.5s 1 alternate;
}

@media all and (max-width: 767px) {
    .sidebar-main {
        -webkit-transition: left 700ms;
        transition: left 700ms;
    }

    .sidebar-main {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100%;
        z-index: 9999;
    }

    .sidebar-main .ps-sidebar-root {
        min-width: unset;
        width: auto;
    }
}

.column-main-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
